<?xml version="1.0" encoding="UTF-8"?>
<root>
  <% @data.each do |item| %>
    <item>
      <value><%= item[:value] %></value>
      <label><%= item[:label] %></label>
      <colour><%= item[:colour] %></colour>
    </item>
  <% end %>
</root>
